[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "*"
matplotlib = "*"
pillow = "*"
tensorflow = "*"
black = "*"
isort = "*"
pre-commit = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
format="pipenv run black ."
hw1="pipenv run python -m hw1_filter"
