[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "*"
matplotlib = "*"
pillow = "*"
tensorflow = "*"
pre-commit = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
format="pipenv run black ."
hw1="pipenv run python -m hw1_filter"
filter="pipenv run python -m hw1_filter"
hw2="pipenv run python -m hw2_calibration"
calibrate="pipenv run python -m hw2_calibration"
hw3="pipenv run python -m hw3_stitching"
stitch="pipenv run python -m hw3_stitching"
hw4="pipenv run python -m hw4_CNN"
cnn="pipenv run python -m hw4_CNN"